body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.4;
  
    margin: 20px auto;
    padding: 0 10px;
    word-wrap: break-word;
  
    color: #363636;
    background: #efefef;
  
    text-rendering: optimizeLegibility;
    display: block;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .container {
    /* display: flex; */
    padding: 10px;
    background: #bcbcbc;
  }
  
  .container>div {
    max-height: 20%;
    margin: 20px;
    background: #efefef;
  }

  .advanced_menu_options {
      display: none;
  }